@charset "UTF-8";
/* Gestion du modèle de boite */
/* Bonnes pratiques : http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Taille des gouttières */
/* Règles pour la mise en forme */
body {
  background-color: #446CB3;
  color: #FFF;
}
body .grille {
  border: 2px dashed white;
  border: 2px dashed rgba(255, 255, 255, 0.3);
}
body [class*='col-'] p {
  background: rgba(225, 255, 255, 0.1);
  border: 2px solid white;
  border: 2px solid rgba(255, 255, 255, 0.2);
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.grille {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
  /* Contenu ramené vers l'avant */
  /* contenu poussé vers la fin */
  /* Sur 12 colonnes */
  /* En largeurs fixes de 12rem minimum */
}
.grille .une {
  order: -1;
}
.grille .une p {
  background-color: #2ecc71;
}
.grille .retrait {
  order: 99;
}
.grille .retrait p {
  background-color: #e74c3c;
}
.grille [class*='col-'] {
  padding-left: 20px;
}
.grille .col-1-12 {
  flex: 0 0 8.33333%;
}
.grille .col-2-12 {
  flex: 0 0 16.66667%;
}
.grille .col-3-12 {
  flex: 0 0 25%;
}
.grille .col-4-12 {
  flex: 0 0 33.33333%;
}
.grille .col-5-12 {
  flex: 0 0 41.66667%;
}
.grille .col-6-12 {
  flex: 0 0 50%;
}
.grille .col-7-12 {
  flex: 0 0 58.33333%;
}
.grille .col-8-12 {
  flex: 0 0 66.66667%;
}
.grille .col-9-12 {
  flex: 0 0 75%;
}
.grille .col-10-12 {
  flex: 0 0 83.33333%;
}
.grille .col-11-12 {
  flex: 0 0 91.66667%;
}
.grille .min-col-20 {
  flex: 1 0 20em;
}
.grille.grille-espace {
  margin-left: 0;
  padding-right: 20px;
}
