<div id="pageFooter">
    <div id="footerFinal">
        <img src="{{ site.baseurl }}/assets/img/traindrop-logoCourt-80.png" alt="TrainDrop" width="80" height="65" />
    </div>
    <h2>Crédits</h2>
    <h3>Logo</h3>
    <ul>
        <li>Icône&nbsp;: <a href="http://thenounproject.com/Julihan/">Julien Deveaux - The Noun Project</a></li>
        <li>Police de caractères&nbsp;: <a href="http://typodermicfonts.com/carbon/">Typodermic Fonts - Carbon</a></li>
    </ul>
    <h3>Base CSS</h3>
    <ul>
        <li><a href="http://necolas.github.io/normalize.css/">Normalize</a></li>
        <li><a href="http://tinytypo.tetue.net/">Tiny Typo</a></li>
    </ul>
</div><!-- /pageFooter -->
